<div class="user_info_form_title">
プロフィール登録
</div>
<div class="user_profile_form_wrapper">
  <%= form_for @profile do |f| %>
    <%= render "devise/shared/error_messages", resource: @profile %>
    <%= render "profile_field", { f: f }%>
  <% end %>

</div>
<div class="top_page_link">
  <%= link_to "トップページへ戻る", root_path %>
</div>
<% render "devise/shared/links" %>