      <% comments.each do |comment|%>
        <ul>
          <li><%= image_tag comment.user.profile.image, class: "liked_user_image" %>
          </li>
          <li><%= link_to comment.user.nickname, user_path(comment.user.id) %>
          </li>
          <li class="comment"><%= safe_join(comment.text.split("\n"),tag(:br)) %>
          </li>
          <% if current_user.id == comment.user.id %>
            <li><%= link_to "コメントを削除", post_comment_path(@post.id,comment.id), method: :delete, class: "comment_delete" %>
          <% end %>
        </ul>
      <% end %>
