<div class="user_info_form_title">
  プロフィール編集
</div>
<div class="user_profile_form_wrapper">
  <%= form_with model: @profile, url: user_path(@user.id), method: :put,local: true do |f|%>

  <%= render "shared/error_messages", model: f.object %>

  <%= render "devise/registrations/profile_field" , { f: f } %>

  <% end %>
</div>
<div class="top_page_link">
  <%= link_to "マイページへ戻る", user_path(current_user.id) %>
</div>