<%= render "shared/header"%>

<div class="index_wrapper">
  <div class="part_index">
    <h1>全国の〇〇トレーニング</h1>
  </div>
  <div class="shared_posts_wrapper">
    <div class="shared_post">
      <div class="user_wrapper">
        <div class="user_info">
          <div class="user_icon">
          </div>
          <div class="user_name">
            <%= %>
          </div>
        </div>
        <div class="user_introduction">
        </div>
      </div>
      <div class="shared_text">
      </div>
    </div>
    <div class="shared_post">
      <div class="user_wrapper">
        <div class="user_info">
          <div class="user_icon">
          </div>
          <div class="user_name">
          </div>
        </div>
        <div class="user_introduction">
        </div>
      </div>
      <div class="shared_text">
      </div>
    </div>
  </div>
</div>