<%= render "shared/header"%>

<div class="post_field">
  <div class="post_wrapper">
    <div class="user_icon">
    </div>
    <div class="post_text">
    </div>
  </div>
  <div class="post_btn">
  </div>
</div>