<%= render "shared/header"%>

<%= render "search"%>

<div class="searched_posts_title">
</div>

 <% if @results.empty? %>
  <div class="no_data">
    検索結果がありません
  </div>
 <% end%>
 
<%= render partial: "posts", collection: @results, as: "post" %>