.user_page_title{
  font-size: 24px;
  margin: 20px 0 20px;
  text-align: center;
}

.user_top_wrapper{
  padding: 60px;
  height: 450px;
  width: 1250px;
  margin: 0 100px;
  display: flex;
  border-top: solid 1px darkblue;
  border-bottom: solid 1px darkblue;
}

.user_left_wrapper{
  height: 100%;
  width: 100%;
}

.user_icon_info_wrapper{
  height: 60%;
  width: 100%;
  display: flex;
  border-bottom: solid 1px rgba(169, 169, 169, 0.527);
}

.user_icon_wrapper{
  background-color: rgb(224, 181, 181);
  height: 100%;
  width: 30%;
  padding: 10px;
}

.user_info_lists{
  height: 100%;
  width: 80%;
  padding-left: 15px;
  position: relative;
}

.pull_down_wrapper{
  height: 20px;
  width: 40px;
  position: absolute;
  right: 0px;
  top: 5px;
  text-align: center;
}

.pull_down_wrapper:hover .edit_btn_wrapper{
  display: block;
}

.pull_down_child{
  position: absolute;
  right: 0;
  top: 20px;
}

.edit_btn_wrapper{
  background-color: rgb(232, 240, 254);
  width: 70px;
  border: 1px solid rgba(169, 169, 169, 0.479);
  display: none;
  text-align: center;
}

.edit_btn_wrapper:hover{
  background-color: rgb(206, 223, 252);
}

.edit_profile_btn{
  display: block;
  padding: 10px 0;
}

.user_info_lists ul{
  padding: 25px 20px 0;
}


.user_info_lists ul li{
  width: 80%;
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}

.user_info_lists ul li span{
  position: absolute;
  left: 55%;
}

.user_intro_wrapper{
  height: 40%;
  width: 100%;
  padding: 25px;
  font-size: 20px;
  border-bottom: solid 1px rgba(169, 169, 169, 0.527);
}

.user_right_wrapper{
  background-color: rgb(131, 190, 156);
  height: 100%;
  width: 100%;
}