  .main_header{
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  
  .left_header{
    display: flex;
    align-items: center;
  }
  
  .app_title{
    margin: 0 20px;
  }
  
  .app_logo{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  
  .right_header{
    display: flex;
    align-items: center;
  }
  
  .mypage_btn{
    background-color: rgb(72, 124, 72);
    padding: 20px;
    text-decoration: none;
    color: black;
  }
  
  .share_btn{
    background-color: orange;
    padding: 20px;
    text-decoration: none;
    color: black;
  }
  
  .sign_btn{
    background-color: rgb(59, 77, 240);
    padding: 20px;
    text-decoration: none;
    color: black;
  }