  .main_header{
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  
  .left_header{
    display: flex;
    align-items: center;
  }
  
  .app_title{
    margin: 0 20px;
  }
  
  .app_logo{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .notice_message{
    color: darkblue;
    padding: 20px;
  }
  
  .right_header{
    display: flex;
    align-items: center;
  }

  .header_btn{
    padding: 20px;
    text-decoration: none;
    color: black;
  }

  .header_btn:hover{
    color: rgb(92, 92, 92);
  }