.post_field{
  background-color: rgb(240, 239, 239);
  box-shadow: 0 0 7px gray;
  width: 1000px;
  margin: 30px auto 0;
  padding: 80px 100px 80px;
}

.post_wrapper{
  margin-bottom: 80px;
}

.post_input_area{
  width: 100%;
}

.post_text{
  background-color: white;
  height: 180px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  color: rgb(121, 121, 121);
}

.text_count{
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.text_area{
  border: 1px solid darkgray;
  height: 180px;
  width: 100%;
  word-break: break-all;
  padding: 20px;
}

textarea{
  resize: none;
}

.tag_field{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tag_form{
  border: 1px solid darkgray;
  color: rgb(82, 82, 82);
  height: 100%;
  width: 100%;
  background-color: white;
}

.tag_form:hover{
  background-color: rgb(232, 240, 254);
  transition: 0.4s;
}
.tag_decoration{
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.post_btn{
  background-color: rgba(255, 167, 52, 0.712);
  height: 60px;
  width: 120px;
  float: right;
  margin-top: 20px;
}

.post_btn:hover{
  background-color: rgb(255, 167, 52);
  transition: 0.4s;
}

.submit_btn{
  height: 100%;
  width: 100%;
  text-align: center;
  border: 1px solid darkgray;
}