.post_show_title{
  font-weight: bold;
  height: 80px;
  text-align: center;
  margin: 0 100px;
  padding: 30px 0;
}

.like_comennt_wrapper{
  display: flex;
  margin: 30px 120px 20px;
}

.liked_user_wrapper{
  width: 30%;
  border-right: darkgray 1px solid;
  margin-right: 20px;
}

.liked_user_title{
  margin-bottom: 15px;
}

.liked_user_wrapper ul{
  display: flex;
  align-items: center;
}

.liked_user_wrapper ul li{
  margin-bottom: 5px;
}

.liked_user_image{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
  border: solid 1px darkgray;
  object-fit: cover;
}

.comments_wrapper{
  width: 70%;
}

.comments_form_title{
  margin-bottom: 10px;
}

.comennts_form{
  margin-bottom: 20px;
  padding: 15px;
}

.comment_area{
  border: darkgray solid 1px;
  box-shadow: 0 0 2px darkgray;
  height: 80px;
  width: 85%;
  padding:10px;
}

.comment_btn{
  background-color: rgb(255, 223, 181);
  border: darkgray solid 1px;
  color: rgb(88, 88, 88);
  text-align: center;
  padding: 10px;
  margin-left: 20px;
}

.comment_btn:hover{
  background-color: rgba(255, 167, 52, 0.712);
  color: black;
}

.comments_list_title{
  margin-bottom: 15px;
}

.comments_list{
  width: 100%;
}

.comments_list ul{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.comments_list li{
  margin-bottom: 5px;
}

.comment{
  margin-left: 20px;
}

.comment_delete{
  margin-left: 20px;
  color: darkgray;
  font-size: 12px;
}

.comment_delete:hover{
  color: black;
}